<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Factory" value="DM.Logger, DM.Logger.ConsoleLoggerFactory"/>
    <add key="FileFactory" value="DM.Logger, DM.Logger.FileLoggerFactory"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
